In [2]:
import pandas as pd
players_df = pd.read_csv('player_data.csv')

In [3]:
players_df.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [4]:
seasons_df=pd.read_csv('Seasons_Stats.csv')
seasons_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [5]:
seasons_df.info

<bound method DataFrame.info of        Unnamed: 0    Year             Player  Pos   Age   Tm     G    GS  \
0               0  1950.0    Curly Armstrong  G-F  31.0  FTW  63.0   NaN
1               1  1950.0       Cliff Barker   SG  29.0  INO  49.0   NaN
2               2  1950.0      Leo Barnhorst   SF  25.0  CHS  67.0   NaN
3               3  1950.0         Ed Bartels    F  24.0  TOT  15.0   NaN
4               4  1950.0         Ed Bartels    F  24.0  DNN  13.0   NaN
...           ...     ...                ...  ...   ...  ...   ...   ...
24686       24686  2017.0        Cody Zeller   PF  24.0  CHO  62.0  58.0
24687       24687  2017.0       Tyler Zeller    C  27.0  BOS  51.0   5.0
24688       24688  2017.0  Stephen Zimmerman    C  20.0  ORL  19.0   0.0
24689       24689  2017.0        Paul Zipser   SF  22.0  CHI  44.0  18.0
24690       24690  2017.0        Ivica Zubac    C  19.0  LAL  38.0  11.0

           MP   PER  ...    FT%    ORB    DRB    TRB    AST   STL   BLK   TOV  \
0         NaN   NaN  ...  0.705    NaN    NaN    NaN  176.0   NaN   NaN   NaN
1         NaN   NaN  ...  0.708    NaN    NaN    NaN  109.0   NaN   NaN   NaN
2         NaN   NaN  ...  0.698    NaN    NaN    NaN  140.0   NaN   NaN   NaN
3         NaN   NaN  ...  0.559    NaN    NaN    NaN   20.0   NaN   NaN   NaN
4         NaN   NaN  ...  0.548    NaN    NaN    NaN   20.0   NaN   NaN   NaN
...       ...   ...  ...    ...    ...    ...    ...    ...   ...   ...   ...
24686  1725.0  16.7  ...  0.679  135.0  270.0  405.0   99.0  62.0  58.0  65.0
24687   525.0  13.0  ...  0.564   43.0   81.0  124.0   42.0   7.0  21.0  20.0
24688   108.0   7.3  ...  0.600   11.0   24.0   35.0    4.0   2.0   5.0   3.0
24689   843.0   6.9  ...  0.775   15.0  110.0  125.0   36.0  15.0  16.0  40.0
24690   609.0  17.0  ...  0.653   41.0  118.0  159.0   30.0  14.0  33.0  30.0

          PF    PTS
0      217.0  458.0
1       99.0  279.0
2      192.0  438.0
3       29.0   63.0
4       27.0   59.0
...      ...    ...
24686  189.0  639.0
24687   61.0  178.0
24688   17.0   23.0
24689   78.0  240.0
24690   66.0  284.0

[24691 rows x 53 columns]>

In [7]:
_2015seasons_df = seasons_df[seasons_df['Year']== 2015]
_2015seasons_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
22865,22865,2015.0,Quincy Acy,PF,24.0,NYK,68.0,22.0,1287.0,11.9,...,0.784,79.0,222.0,301.0,68.0,27.0,22.0,60.0,147.0,398.0
22866,22866,2015.0,Jordan Adams,SG,20.0,MEM,30.0,0.0,248.0,12.8,...,0.609,9.0,19.0,28.0,16.0,16.0,7.0,14.0,24.0,94.0
22867,22867,2015.0,Steven Adams,C,21.0,OKC,70.0,67.0,1771.0,14.1,...,0.502,199.0,324.0,523.0,66.0,38.0,86.0,99.0,222.0,537.0
22868,22868,2015.0,Jeff Adrien,PF,28.0,MIN,17.0,0.0,215.0,14.2,...,0.579,23.0,54.0,77.0,15.0,4.0,9.0,9.0,30.0,60.0
22869,22869,2015.0,Arron Afflalo,SG,29.0,TOT,78.0,72.0,2502.0,10.7,...,0.843,27.0,220.0,247.0,129.0,41.0,7.0,116.0,167.0,1035.0

In [8]:
_2015seasons_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651 entries, 22865 to 23515
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  651 non-null    int64
 1   Year        651 non-null    float64
 2   Player      651 non-null    object
 3   Pos         651 non-null    object
 4   Age         651 non-null    float64
 5   Tm          651 non-null    object
 6   G           651 non-null    float64
 7   GS          651 non-null    float64
 8   MP          651 non-null    float64
 9   PER         651 non-null    float64
 10  TS%         649 non-null    float64
 11  3PAr        649 non-null    float64
 12  FTr         649 non-null    float64
 13  ORB%        651 non-null    float64
 14  DRB%        651 non-null    float64
 15  TRB%        651 non-null    float64
 16  AST%        651 non-null    float64
 17  STL%        651 non-null    float64
 18  BLK%        651 non-null    float64
 19  TOV%        650 non-null    float64
 20  USG%        651 non-null    float64
 21  blanl       0 non-null      float64
 22  OWS         651 non-null    float64
 23  DWS         651 non-null    float64
 24  WS          651 non-null    float64
 25  WS/48       651 non-null    float64
 26  blank2      0 non-null      float64
 27  OBPM        651 non-null    float64
 28  DBPM        651 non-null    float64
 29  BPM         651 non-null    float64
 30  VORP        651 non-null    float64
 31  FG          651 non-null    float64
 32  FGA         651 non-null    float64
 33  FG%         649 non-null    float64
 34  3P          651 non-null    float64
 35  3PA         651 non-null    float64
 36  3P%         570 non-null    float64
 37  2P          651 non-null    float64
 38  2PA         651 non-null    float64
 39  2P%         647 non-null    float64
 40  eFG%        649 non-null    float64
 41  FT          651 non-null    float64
 42  FTA         651 non-null    float64
 43  FT%         626 non-null    float64
 44  ORB         651 non-null    float64
 45  DRB         651 non-null    float64
 46  TRB         651 non-null    float64
 47  AST         651 non-null    float64
 48  STL         651 non-null    float64
 49  BLK         651 non-null    float64
 50  TOV         651 non-null    float64
 51  PF          651 non-null    float64
 52  PTS         651 non-null    float64
dtypes: float64(49), int64(1), object(3)
memory usage: 274.6+ KB

In [10]:
_2015seasons_df.sort_values(by=['PTS'], ascending=False).head(10)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
23114,23114,2015.0,James Harden,SG,25.0,HOU,81.0,81.0,2981.0,26.7,...,0.868,75.0,384.0,459.0,565.0,154.0,60.0,321.0,208.0,2217.0
23000,23000,2015.0,Stephen Curry,PG,26.0,GSW,80.0,80.0,2613.0,28.0,...,0.914,56.0,285.0,341.0,619.0,163.0,16.0,249.0,158.0,1900.0
23480,23480,2015.0,Russell Westbrook,PG,26.0,OKC,67.0,67.0,2302.0,29.1,...,0.835,124.0,364.0,488.0,574.0,140.0,14.0,293.0,184.0,1886.0
23154,23154,2015.0,LeBron James,SF,30.0,CLE,69.0,69.0,2493.0,25.9,...,0.710,51.0,365.0,416.0,511.0,109.0,49.0,272.0,135.0,1743.0
23215,23215,2015.0,Damian Lillard,PG,24.0,POR,82.0,82.0,2925.0,20.7,...,0.864,49.0,329.0,378.0,507.0,97.0,21.0,222.0,164.0,1720.0
23446,23446,2015.0,Klay Thompson,SG,24.0,GSW,77.0,77.0,2455.0,20.8,...,0.879,27.0,220.0,247.0,222.0,87.0,60.0,149.0,122.0,1668.0
22875,22875,2015.0,LaMarcus Aldridge,PF,29.0,POR,71.0,71.0,2512.0,22.8,...,0.845,177.0,549.0,726.0,124.0,48.0,68.0,122.0,125.0,1661.0
23012,23012,2015.0,Anthony Davis,PF,21.0,NOP,68.0,68.0,2455.0,30.8,...,0.805,173.0,523.0,696.0,149.0,100.0,200.0,95.0,141.0,1656.0
23148,23148,2015.0,Kyrie Irving,PG,22.0,CLE,75.0,75.0,2730.0,21.5,...,0.863,55.0,182.0,237.0,389.0,114.0,20.0,186.0,146.0,1628.0
23312,23312,2015.0,Chris Paul,PG,29.0,LAC,82.0,82.0,2857.0,26.0,...,0.900,52.0,324.0,376.0,838.0,156.0,15.0,190.0,203.0,1564.0